@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
* {
	font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
